<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/dayjs.min.js" integrity="sha512-0fcCRl828lBlrSCa8QJY51mtNqTcHxabaXVLPgw/jPA5Nutujh6CbTdDgRzl9aSPYW/uuE7c4SffFUQFBAy6lg==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <title>Document</title>
</head>

<body>
    <div class="container" id="root">
        <div class="container-left">
            
            <header>
                <div class="header-left">
                    
                    <div class="inner-left">
                        <img class="circle" :src="path + user.avatar + format" alt="">
                        <span>{{user.name}}</span>
                    </div>
                    
                    <div class="inner-right">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                
                </div>
            </header>
            
            <main>
                <div class="main-top">
                    <div class="circle white">
                        <i class="fas fa-bell-slash"></i>
                    </div>
                    <ul>
                        <li><span>Ricevi notifiche di nuovi messaggi</span></li>
                        <li><a href="#">attiva notifiche desktop</a></li>
                    </ul>
                </div>
                <div class="contacts">
                   
                    <div class="search-bar">
                        <i class="fas fa-search"></i>
                        <input placeholder="Cerca o inizia una nuova chat" v-model="search" type="text" @keyup="filter">
                    </div>
                   
                    <div class="friends">
                        
                        <div  v-for="(contact, index) in contacts" v-if="contact.visible" :class="(index == counter) ? 'active' : null" class="friend" @click="click(index)">
                            <img class="circle" :src="path + contacts[index].avatar + format" alt="">
                            <ul>
                                <li><span>{{contacts[index].name}}</span></li>
                                <li><span>{{contacts[index].messages[contacts[index].messages.length - 1].date}}</span></li>
                            </ul>
                            <span class="last-message">{{contacts[index].messages[contacts[index].messages.length - 1].text}}</span>
                        </div>
                    
                    </div>
                </div>
            </main>
        
        </div>
        <div class="container-right">
            
            <header>
                <div class="header-right">
                    
                    <div class="inner-left">
                        <img class="circle" :src="path + contacts[counter].avatar + format" alt="">
                        <ul>
                            <li>{{contacts[counter].name}}</li>
                            <li>Ultimo accesso {{contacts[counter].messages[contacts[counter].messages.length - 1].date}} </li>
                        </ul>
                    </div>
                    
                    <div class="inner-right">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
            </header>
            
            <main>
                <div class="messages">
                    <div v-for="(message, index) in contacts[counter].messages" :class="(message.status == 'sent') ? 'flex-end' : 'flex-start'" class="message">
                        <div :class="(message.status == 'sent') ? 'sent' : 'received'">
                            <div class="dropdown_div">
                                {{message.text}}
                                <a href="#" @click="dropdown_menu(index)"><i class="fas fa-chevron-down dropdown"></i></a>
                                <div id="myDropdown" class="dropdown-content">
                                    <a href="#">Message Info</a>
                                    <a @click="delete_message(index)" href="#">Delete message</a>
                                </div>
                            </div>
                            <span class="data">{{message.date}}</span>
                        </div>
                    </div>
                </div>
            </main>

            <div id="writing" class="writing">
                <span>{{contacts[counter].name}} sta scrivendo</span>
            </div>

            <div class="footer">
                <i class="far fa-smile"></i>
                <input @keyup.enter='newMessage(counter)' v-model="newText" placeholder="Scrivi un messaggio" type="text">
                <i class="fas fa-microphone"></i>
            </div>

        </div>
    </div>
    <script src="js/main.js"></script>
</body>
</html>